html {
  font-size: 16px;
  font-family: Calibri, Arial, sans-serif;
}

body {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #AD0000;
}

  /** Header **/

header {
  width: 100%;
  background-color: black;
  margin: 0;
}

header a.booknow {
  float: right;
  font-size: 1.5rem;
  margin: 1rem;
}

header div {
  height: 150px;
  padding-top: 3.5rem;
}

header div h1 {
  margin-left: 2rem;
  margin-bottom: 0;
  color: white;
  font-size: 3.5rem;
  font-weight: lighter;
}

header div p {
  margin: 0 0 0 2rem;
  color: #B5B5B5;
  font-size: 1.5rem;
}

header nav {
  height: 50px;
  background-color: #B5B5B5;
  margin-left: auto;
  margin-right: auto;
}

header nav li {
  display: block;
  margin: .7rem 1.2rem;
  float: left;
}

header nav a {
  color: #7B3777;
  font-size: 1.5rem;
}

/** Main Body Section **/

section {
  width: 56%;
  margin: 0 2.5%;
  box-sizing: border-box;
  /*border: 2px solid blue;*/
  float: left;
}

section h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 2.2rem;
  font-weight: 400;
}

section p {
  font-size: 1.4rem;
  margin: .5rem auto;
}

section blockquote {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-style: italic;
}

/** Aside/Sidebar **/

aside {
  width: 37%;
  margin: 2rem 1%;
  box-sizing: border-box;
  border: 2px solid black;
  padding: .5rem;
  float: right;
}

aside figure {
  margin: .5rem 1rem;
}

aside img {
  width: 100%;
}

aside h3, aside figcaption {
  margin-top: .1rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.7rem;
  font-weight: normal;
}

aside figcaption {
  font-size: 1.5rem;
}

aside p {
 display: inline-block;
 width: 55%;
 margin-top: 0;
 font-size: 1.2rem;
}

aside a.booknow {
  display: inline-block;
  font-size: 1.2rem;
  float: right;
}

aside a.booknow:first-of-type {
  margin-top: 1.35rem;
}

/** Footer **/

footer {
  clear: both;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: lighter;
}

address {
  padding: 1.5rem 0 0 1rem;
  font-style: normal;
}

address p {
  margin: 0;
}

footer div {
  padding: .5rem;
  text-align: center;
}

footer div p {
  margin: 0;
}
